body{
 background-color: mintcream;
 color: navy;
}
h1{font-family: "Shadows Into Light";
    text-align: center;
    text-transform: uppercase;
}
.header{
    margin: auto;
    padding: 20px;
    width: 582px;
    height: 728px;
}