body{
 background-color: mintcream;
 color: navy;
}
h1{font-family: "Shadows Into Light";
    text-align: center;
    text-transform: uppercase;
}
.navigation{
    text-align: right;
    font-size: 10px;
}